.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/* ## Colors */
*{
    font-family: 'Barlow Semi Condensed', sans-serif;
}
/* ### Primary */
/* 
Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%) */


:root{
    --moderate_violet:hsl(263, 55%, 52%);
    --veryDarkGrayishBlue:hsl(217, 19%, 35%);
    --veryDarkblakishBlue:hsl(219, 29%, 14%);
    --white:hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayBlue:hsl(210, 46%, 95%);
}

body{
    background-color: var(--lightGrayBlue);
}

.mainContainer{
    width: 80%;
    margin: 30px auto;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-row-gap: 10px;
    grid-column-gap: 30px;


}

.profile{
    display: flex;
    padding: 20px;
}
.daniel{
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right;
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.first-para-details{
    font-size: 1.5rem;
    font-weight: 600;
}

.second-para-details{
    font-weight: 500;
    opacity: 0.7;
}

.profileDetails{
    display: block;
    padding: 10px;
}
.profileimg img{
    border-radius: 50%;
}
.testimonial{
    border-radius: 10px;
    margin-top: 30px;
    padding: 20px;
}

.profileName{
    font-weight: 600;
}

.profiletag{
    font-weight: 500;
    color: var(--lightGray);
}
.daniel{
    background-color: var(--moderate_violet);
    color: white;
}

.jonathan{
    background-color: var(--veryDarkGrayishBlue);
    color: white;
    grid-column-start: 3;
    grid-column-end: 4;
}

.kira{
    grid-column-start:4 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end:3 ;
}

.jeanette,.kira{
    background-color: var(--white);
    color: black;
}

.patrick{
    background-color: var(--veryDarkblakishBlue);
    color: white;
    grid-column-start: 2;
    grid-column-end: 4;
}

@media(max-width:500px){
    .mainContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
